<!-- <ul>
  <li><a [routerLink]="'/employee'" class="mat-focus-indicator mat-button mat-button-base mat-primary"
      routerLinkActive="mat-focus-indicator mat-raised-button mat-button-base mat-primary">employee</a></li>
  <li><a [routerLink]="'/schedule'" class="mat-focus-indicator mat-button mat-button-base mat-primary"
    routerLinkActive="mat-focus-indicator mat-raised-button mat-button-base mat-primary">schedule</a></li>
</ul> -->

<a [routerLink]="'/employee'" mat-button color="primary" 
  routerLinkActive="mat-button mat-raised-button mat-primary">
  行動
</a>
<a [routerLink]="'/schedule'" mat-stroked-button color="primary" 
  routerLinkActive="mat-raised-button mat-primary">
  時程
</a>
<span class="material-icons accent" color="accent">home</span>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>