<section>
    <form [formGroup]="employeeForm" (ngSubmit)="add()">
        <label for="AD">員編</label>
        <input id="AD" type="text" formControlName="AD" required>

        <label for="Name">姓名</label>
        <input id="Name" type="text" formControlName="Name" required>
        <button type="submit" [disabled]="!employeeForm.valid">增加</button>
    <ul>
        <li *ngFor="let employee of employees">
            <span>{{employee.AD}}</span>
            <span>{{employee.Name}}</span>
        </li>
    </ul>
    </form>
    <!-- <p>Form Value: {{ employeeForm.value | json }}</p>
    <p>Form Status: {{ employeeForm.status }}</p> -->
</section>