<section>
    <form [formGroup]="employeeForm" (ngSubmit)="add()">
        <label for="ad">員編</label>
        <input id="ad" type="text" formControlName="ad" required>

        <label for="name">姓名</label>
        <input id="name" type="text" formControlName="name" required>
        <button type="submit" [disabled]="!employeeForm.valid">增加</button>
    <ul>
        <li *ngFor="let employee of employees">
            <span>{{employee.ad}}</span>
            <span>{{employee.name}}</span>
        </li>
    </ul>
    </form>
    <!-- <p>Form Value: {{ employeeForm.value | json }}</p>
    <p>Form Status: {{ employeeForm.status }}</p> -->
</section>