<section>
    <form [formGroup]="employeeForm" (ngSubmit)="add()">
        <label for="AD">員編</label>
        <input id="AD" type="text" formControlName="AD" required>

        <label for="Name">姓名</label>
        <input id="Name" type="text" formControlName="Name" required>
        <button type="submit" [disabled]="!employeeForm.valid">增加</button>
        <!-- <ul>
            <li *ngFor="let employee of employees">
                <span>{{employee.AD}}</span>
                <span>{{employee.Name}}</span>
            </li>
        </ul> -->
        <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]">
        </mat-paginator>
        <mat-form-field>
            <input matInput #filter placeholder="搜尋">
        </mat-form-field>
        <mat-table [dataSource]="employeesDataSource" matSort #sortTable="matSort"  matSortActive="AD" matSortDirection="asc">
            <ng-container matColumnDef="AD">
                <mat-header-cell *matHeaderCellDef mat-sort-header>員編</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.AD }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef>姓名</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.Name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="management">
                <mat-header-cell *matHeaderCellDef>
                    <u>管理</u>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button type="button" mat-button color="primary" (click)="update(row)">更新</button>
                    <button type="button" mat-button color="warn" (click)="delete(row)">刪除</button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="['AD','Name','management']"></mat-header-row>
            <mat-row *matRowDef="let employee; columns: ['AD', 'Name','management']"></mat-row>

        </mat-table>
    </form>
    <!-- <p>Form Value: {{ employeeForm.value | json }}</p>
    <p>Form Status: {{ employeeForm.status }}</p> -->
</section>